@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Suisse";
  src: url("../../public//fonts/SuisseIntl-Regular.ttf");
}
@font-face {
  font-family: "SuisseMedium";
  src: url("../../public//fonts/SuisseIntl-Medium.ttf");
}
@font-face {
  font-family: "SuisseSemiBold";
  src: url("../../public//fonts/SuisseIntl-SemiBold.ttf");
}
@font-face {
  font-family: "SuisseBold";
  src: url("../../public//fonts/SuisseIntl-Bold.ttf");
}
.mui-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 40px !important;
  /* border: 1px solid white !important; */
}
